.gsd-keyboard.settings-ported
BraveSoftware/
Cursor/
GNOME-xdg-terminals.list
Slack/
content_shell/
dconf/
evolution/
ghostty/
gnome-initial-setup-done
go/
google-chrome/
gtk-3.0/
ibus-mozc-gnome-initial-setup-done
ibus/
microsoft-edge/
mimeapps.list
monitors.xml
mozc/
pulse/
tiling-assistant/
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
yelp/
goa-1.0
nautilus
update-notifier

efm-langserver
